{% extends 'partials/base.html.twig' %}

{% block content %}

{% if page.header.background_image != '' %}
    {% set background_html = 'style="background-image: url(' ~ page.media.images[page.header.background_image].url ~ ');"' %}
{% else %}
    {% set  background_html = "" %}
{% endif %}
<section class="single-page-title"{{ background_html }}>
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>
<div id="sumit-form-preload"></div>
<div class="container">
<section class="ptb-40">
<h2 class="ptb-40">Nhập vào form dưới đây để nhận được tệp hướng dẫn</h2>

    <form name="document-form" action="/giahan/tai-lieu-huong-dan/form" method="POST" id="document-form">    
        <div class="row">            
            <div class="col-md-6">
                <div class="form-group user-name">
                    <label for="name" class="sr-only">Name</label>
                    <input name="data[name]" value="" type="text" class="form-control form-control" placeholder="Họ Và Tên" required="required">
                </div>
                <div class="form-group user-email">
                    <label for="email" class="sr-only">Email</label>
                    <input name="data[email]" value="" type="email" class="form-control form-control" placeholder="Email" required="required">
                </div>
                <div class="form-group user-phone">
                    <label for="phone" class="sr-only">Phone</label>
                    <input name="data[phone]" value="" type="text" class="form-control form-control" placeholder="Điện Thoại" required="required">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group user-message">
                    <label for="message" class="sr-only">Message</label>
                    <textarea class="form-control" name="data[message]" placeholder="Nội Dung" required="required" rows="6"></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" name="__form-name__" value="document-form">    
        <input name="data[file_name]" value="{{ page.title }}" type="hidden">
        <input name="data[file_path]" value="{{ page.media[header.file].url }}"  type="hidden">
        <input name="data[url]" value="{{ page.url }}"  type="hidden">
        <div class="buttons">    
            <button class="btn btn-primary" type="submit">
                Gửi
            </button>    
        </div>
        <input type="hidden" name="__unique_form_id__" value="1gvb0FTdB4fQHEVkoKja" />  <input type="hidden" name="form-nonce" value="d47b98227a4391b9f5153e27312e41b9" />
    </form>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog document-popup">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="inside-body">
                    <img class="inside-img p-class" src="{{ base_url_absolute }}/user/themes/bootstrap/assets/email.png">
                </div>
                <div class="inside-text">
                    <p class="big p-class"><strong>Cảm ơn bạn đã gửi yêu cầu tải xuống tệp hướng dẫn</strong></p>
                    <p class="below p-class">Chúng tôi đã gửi cho bạn một email có liên kết tải xuống.
                    </p>
                    <p class="if-you-need">Nếu bạn gặp khó khăn với việc tải xuống tự động và bạn vẫn muốn nhận được Tài Liệu Hướng Dẫn, vui lòng liên hệ với chúng tôi theo số điện thoại hoặc email bên dưới.</p>
                    <p class="learn-more"><b>Tìm Hiểu Thêm Về <a href="/">Gia Hân Group</a></b></p>
                    <div class="row email-phone-row">
                        <div class="col-xs-6">
                            <div class="row phone-popup">
                                    <p>0968.333.268 - 0935.333.268</p>
                                    <img src="{{ base_url_absolute }}/user/themes/x-corporation/img/phone-popup.png">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row email-popup">
                                    <img src="{{ base_url_absolute }}/user/themes/x-corporation/img/email-popup.png">
                                    <p><a href="mailto:GiahanGroup2018@gmail.com">GiahanGroup2018@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                   
                    <button type="button" class="read-more" data-dismiss="modal">OK</button>
                </div>
            </div>
            </div>
            <input type="hidden" class="hid-file-path" value="{{ page.media[header.file].url }}">
            
        </div>
    </div>
</section>

{% do assets.add('theme://js/document.js') %}
</div>

{% endblock %}