{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

<section class="ptb-100">
    <div class="container">
        <div class="row">
            {% set collection = page.collection() %}            
                  
            {% for p in collection %}
                <div class="post-item">
                    <div class="post-item-thumbnail col-xs-12 col-sm-3">
                        <a href="{{ p.url }}">
                            <img class="img-responsive" src="{{p.media.images[p.header.thumbnail].url}}" >
                        </a>
                    </div>
                    <div class="post-item-content col-xs-12 col-sm-9">
                        <h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
                        {{ p.content|markdown }}
                    </div>                   
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock %}