{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

<section class="ptb-40">
    <div class="container">
        <div class="row">
            <div class="product-list"> 
                {% set collection = page.collection() %}  
                {% for p in collection %}                                   
                    <div class="product-item grid-4">
                       <a href="{{ p.url }}">
                            <img class="img-responsive" src="{{p.media.images[p.header.thumbnail].url}}" >
                        </a>
                        <h3 class="product-title"><a href="{{ p.url }}">{{ p.title }}</a></h3>
                        <p class="product-price">{{ p.header.price }}</p>
                    </div>
                {% endfor %}            
            </div>
        </div>
    </div>
</section>
{% endblock %}