{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

<section class="ptb-40">
    <div class="container">
        <div class="row">
            {% set collection = page.collection() %}            
                  
            {% for p in collection %}
                <div class="post-item">
                    <div class="post-item-thumbnail col-xs-12 col-sm-3">
                        <a href="{{ p.url }}">
                            {{ p.media.images[p.header.thumbnail].cropZoom(252, 158).html() }}
                        </a>
                    </div>
                    <div class="post-item-content col-xs-12 col-sm-9">
                        <h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
                        <p>{{ p.header.description }}</p>
                    </div>                   
                </div>
            {% endfor %}
            
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">    
            {{ dump(collection.params.pagination) }}        
                {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
            </div>
        </div>
    </div>
</section>
{% endblock %}