{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

<section class="ptb-40">
    <div class="container">
        <div class="row">
        <div class="head-search">
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="{{"PLUGIN_SIMPLESEARCH.SEARCH_PLACEHOLDER"|t}}" value="{{ query }}" data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route}}/query" />
                    {% if config.plugins.simplesearch.display_button %}
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary search-submit">Search</button>
                        </span>
                    {% endif %}
                </div>
            </form>
        </div>

        {% set count = search_results["collection"] ? search_results["collection"].count : 0 %}
        
        {% if count == 0 %}
            <div class="col-sm-12>
                <p style="margin-top: 10px"><strong>Xin Lỗi, không tìm thấy kết quả nào cho "{{ query }}"</strong></p>
            </div>
        {% endif %}

        {% set collection = search_results["collection"] %}
        {% set limit = 10 %}
        {% set ignore_url_param_array = [ 'event' ] %}
        {% do paginate( collection, limit, ignore_url_param_array ) %}

        {% for page in collection %}
            {% include 'partials/simplesearch_item.html.twig' with {'page':page, 'sum':search_results["textSum"][page.id] } %}
        {% endfor %}
        
        <div class="col-sm-12 text-center">            
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>
        </div>
    </div>
</section>

{% endblock %}

