
{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
<div class="search-wrapper">
    <form name="search" data-simplesearch-form autocomplete="on">
        <input
                id ="site-search-input"
            name="searchfield"
            class="search-input"
            type="text"
            {% if min_chars > 0 %} min="{{- min_chars -}}" {% endif %}
            required

            value="{{ uri.route == "/search" ? query|e : '' }}"
            data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
            data-search-separator="{{ config.system.param_sep }}"
            data-search-input="{{ home_url }}search/query"
        />
        {% if config.plugins.simplesearch.display_button %}
            <button class="search-button" id="search-btn">SEARCH</button>
        {% endif %}
    </form>
</div>


{% do assets.add('theme://js/site-search.js') %}