<div class="advertisement" style="background-image: url('{{page.media.images[page.header.background].url}}');height: {{ page.header.height }}px;">
    <div class="advertisement-container"> 
        <div class="col-sm-8 advertisement-text">
            {{ content }}
        </div>
        <div class="col-sm-4 advertisement-btn"> 
            <center><a href="{{ page.header.btn_url }}" target="{{ page.header.btn_url_target }}" class="">{{ page.header.btn }}</a></center>
        </div>
    </div>
</div>
  