{% extends 'partials/base.html.twig' %}

{% block body_classes %}{{ parent() }} {% if show_onpage_menu %}fixed-nav{% endif %} {% endblock %}

{% block header_navigation %}
    {% if show_onpage_menu %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title|e('html') }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for module in page.collection() %}
                        {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
                        <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
        {{  parent() }}
    {% endif %}
{% endblock %}

{% block banner %}
    {% if page.header.header_image == true %}
        <div class="banner" style="color: {{ page.header.color }};background-image: url('{{ page.media[header.header_image_file].url }}');min-height: {{ page.header.min_height }}px;">       
            <div class="heading-content">
                <h1 class="header-main-text">{{ page.header.header_main_text|markdown }}</h1>
                <p class="header-sub-text">{{ page.header.header_sub_text }}</p>
            </div>

        </div>
    {% endif %}    
{% endblock %}

{% block content %}
    <div class="search-header-pannel" style="position: relative; top: -20px;" id="search-career-box">
        <h1 class="search-header" >Find your opportunity at MOWEDE</h1>
        <div class="center">
            {% include 'partials/simplesearch_searchbox_blog.html.twig' %}
        </div>
    </div>
<div class="modular-row">
    <div class="container"> 
        {{ page.content }}
        {% set collection = search_results["collection"] ?: page.collection() %}


        {% if search_results["collection"]  %}
            {% set count = search_results["collection"] ? search_results["collection"].count : 0 %}
            {% if count == 0 %}
                <p style="margin-top: 10px"><strong>Sorry, we couldn't find any matches for "{{ query }}"</strong></p>
            {% endif %}
        {% endif %}


        <div class="col-xs-12 career-list">

            {% if not (search_results["collection"] and count ==0) %}
                <h1 class="career-heading section-title">Featured Job</h1>
                <div class="col-sm-12 hidden-xs career-item-label">
                    <div class="col-sm-4 career-label"><b>JOB</b></div>
                    <div class="col-sm-7 career-label"><b>DESCRIPTION</b></div>
                    <div class="col-sm-1 career-label"><b>LOCATION</b></div>
                </div>
            {% endif %}

            {% set i = 0 %}
            {% for p in collection %}
                <div class="col-xs-12 career-item">
                    <div class="col-sm-4 career-item-title"><h3><a href="{{ p.url }}"><b>{{ p.title }}</b></a></h3></div>
                    <div class="col-sm-7 career-item-description">{% if search_results["textSum"][i] %} {{ search_results["textSum"][i] }} {% else %} {{ p.header.summary }} {% endif %}</div>
                    <div class="col-sm-1 hidden-xs career-item-location"><h4>{{ p.header.location }}</h4></div>

                </div>
                {% set i = i+1 %}
            {% endfor %}
        </div>

    </div>
    {% if page.header.display_gallery == true %}

    <div class="career-gallery">     
        <h1 class="section-title"><b>Life</b> at <b>MOWEDE</b></h1>   
        <div class="carousel carousel-mwd slide" id="career-carousel">
            <div class="carousel-inner">
                 {% for item in page.header.galleries %}  
                    {% set active = "" %}                   
                    {% if loop.index == 1 %}
                    {% set active = "active" %}
                    {% endif %} 
                    <div class="item {{ active }}">
                    <div class="col-xs-12 col-sm-3 col-md-3 no-padding">
                        <a href="javascript:void(0)"><img src="{{ page.media[item.image].url }}" class="img-responsive"></a>
                    </div>
                </div>
                {% endfor %}               
                
            </div>
            <a class="left carousel-control" href="#career-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#career-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
    {% endif %} 
</div>
<script>
      {% if search_results["collection"]  %}
        $('html, body').animate({
            scrollTop: $("#search-career-box").offset().top
        }, 0);
        {% endif %} 
</script>
    {% do assets.add('theme://js/career.js') %}
{% endblock %}
