
<div class="container info-container">  
     {% for info in page.header.infos %}   
        {% set bg_color ="" %}
        {% set content_color ="" %} 

        {% if info.color != "" %}
        {% set bg_color =  "background-color:" ~ info.color %}
        {% endif %}

        {% if info.content_color != "" %}
        {% set content_color =  "color:" ~ info.content_color %}
        {% endif %}

        {% if(info.postion_image == "right") %}
            {% if info.background !="" %}
                <div class="info have-background left" style="{{bg_color}}">
            {%else%}
                <div class="info" style="{{bg_color}}">
            {%endif%}
            
                <div class=" main-row {{info.postion-image}} {{loop.index}}">           
                    <div class="col first col-lg-6" style="{{content_color}}">
                        <h2 class="info-title">{{ info.text }}</h2>
                        {{ info.content|markdown }}
                    </div>
                    <div class="col second col-lg-6 no-padding">
                        {{ page.media.images[info.thumbnail].cropZoom(540, 380).html() }}
                    </div>
                </div>
            </div>
        {% elseif(info.postion_image == "left") %}
            {% if info.background !="" %}
                <div class="info have-background right" style="{{bg_color}}">
            {%else%}
                <div class="info" style="{{bg_color}}">
            {%endif%}
                <div  class=" main-row {{info.postion-image}} {{loop.index}}">
                    <div class="col first col-lg-6 no-padding">
                        {{ page.media.images[info.thumbnail].cropZoom(540, 380).html() }}
                    </div>
                    <div class="col second col-lg-6" style="{{content_color}}">
                        <h2 class="info-title">{{ info.text }}</h2>
                        {{ info.content|markdown }}
                    </div>
                </div>
            </div>

        {% else %}
            {% if info.background !="" %}
                <div class="info have-background right" style="{{bg_color}}">
            {%else%}
                <div class="info" style="{{bg_color}}">
            {%endif%}
                <div  class="row {{info.postion-image}} {{loop.index}}">
                    <div class="col-sm-12 center">
                        <h2 class="info-title">{{ info.text }}</h2>
                        {{ info.content|markdown }}
                    </div>
                    <div class="col-sm-12" style="{{content_color}}">                       
                        {{ page.media.images[info.thumbnail].html() }}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}
</div>

