<section class="x-section" style="background-image:url('{{ page.media.images[header.background].url}}'); background-color: {{ page.header.bgcolor }}; color: {{ page.header.color }}">
    <section class="section-title">
        <div class="container text-center">
            <h2 style="color: {{ page.header.color }}">{{ page.title }}</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">      
            {% if page.header.align == 'left' %}
                {% set class = 'col-sm-6 left' %}
            {% elseif page.header.align == 'right' %}  
                {% set class = 'col-sm-6 col-sm-offset-6' %}
            {% else %} 
                {% set class = 'col-sm-6 col-sm-offset-3' %}
            {% endif %}
            <div class="{{ class }}">               
                <div class="promo-block-wrapper clearfix">                    
                    <div class="promo-content">
                        {% if page.header.thumbnail != "" %}
                            <img class="img-responsive" src="{{ page.media.images[header.thumbnail].url}}" >
                        {% endif %}
                        {{ page.content }}
                        <a class="{{ header.type }}" href="{{ header.url }}" target="{{ header.target }}" >{{ header.url_text }}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
