<section class="service-icon-style">
    <section class="section-title">
        <div class="container text-center">
            <h2>{{ page.title }}</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    {% if page.header.whys|length > 0 %}
        {% if page.header.whys|length >= 4 %}
            {% set column_count = 4 %}
        {% else %}
            {% set column_count = page.header.whys|length %}
        {% endif %}
    <div class="container text-center">
        {% for solution in page.header.whys %}
        {% if loop.index % column_count == 1 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6 col-md-{{ (12 / column_count)|round }}">
            <div class="promo-block-wrapper clearfix">
                <div class="promo-icon">
                    <i class="fa {{ solution.icon }}"></i>
                </div>
                <div class="promo-content">
                    <h3>{{ solution.title }}</h3>

                    <p>{{ solution.description }}</p>
                </div>
            </div>
        </div>
        {% if loop.index == page.header.whys|length or loop.index % column_count == 0 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</section>